.bgimg{
    margin-top:0%;
    width:100%;
   
}
.list{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw; */
    text-align: center;
    /* color: rgb(247, 243, 243);; */
}
.list img{
    border-radius: 100%;
    
}
.list a{
    text-decoration: none;
    color:black;
}
.listitem{
    
    padding: 4%;
    font-size: 20px;
    font-weight: bold;
    
}
.listitem:hover{
    box-shadow:  4px 4px 4px 4px rgba(0,0,0,0.2);
}
.bg{
    background-color: rgb(247, 243, 243);
}
.linkText{
    color: white;
    font-size: 18px;
    
}
.newsicon{
    color:white;
    margin-top: 3%;
    margin-right: -1%;
}
#icon{
    margin-right: 2%;
}

.linkText:hover{
    color:rgba(247, 4, 4, 0.651);
    background-color: transparent;
}

#logo{
    border-radius: 100%;
    margin-right: 1%;
}
.news_div{
  
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}
.news_div a{
    text-decoration: none;
    color:black
}
.news_div a:hover{
    color:brown;
}
.more{
    float: right;
    position: relative;
    cursor: pointer;
}


@media only screen and (max-width: 912px){
    .news_div{
        padding:none;
        
    }
    .news_description{
        display: none;
    }
    .news_div img{
      
        width:330px;
       
    }
    .news_title h4 {
     font-size: 2.5vh;
        
    }
    .listitem img{
        width:170px;
        height:150px
    }
  .separator{
      display:flex;
  }
}


