#news_nav{
    margin-top:0%;
    margin-left:90%;
    position: relative;
    color: white;
}
#profile_nav{
    margin-top: 0%;
    margin-left: 95%;
    position: relative;
    color: white;
}
.nav{
    background-color: black;
}